spring.datasource.url=jdbc:clickhouse://localhost:8123/cbioportal
spring.datasource.username=cbio
spring.datasource.password=P@ssword1
spring.datasource.driver-class-name=com.clickhouse.jdbc.ClickHouseDriver
